.about {
  text-align: center;
  padding: 70px 0;
}

.about__wrapper {
  display: inline-block;
  max-width: 724px;
  margin-bottom: 50px;
}

.about__title {
  font-weight: 700;
  font-size: 35px;
  color: var(--grey);
  margin-bottom: 25px;
}

.about__text {
  color: var(--grey);
}


.about__us {
  margin: 0 auto;
  max-width: 189px;
  position: relative;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 35px;
}

.about__text-main {
  font-size: 18px;
  line-height: 141%;
}

.about__us::before,
.about__us::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/ico/slash.svg);
}

.about__us::before {
  width: 43px;
  height: 2px;
  top: 12px;
}

.about__us::after {
  width: 43px;
  height: 2px;
  right: 0;
  bottom: 12px;
}

.about__list {
  margin: 0 auto;
  max-width: 934px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  counter-reset: count 0;
}

.about__item {
  position: relative;
  flex-basis: 196px;
  flex-shrink: 2;
  padding-top: 140px;
}

.about__img {
  display: inline-block;
  border-radius: 100%;
  padding: 33px 45px;
  background-color: var(--blue);
  margin-bottom: 16px;
}

.about__img-text {
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
}

.about__item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 141%;
  text-align: center;
}

.about__item-text::before {
  position: absolute;
  content: counter(count);
  counter-increment: count;
  display: block;
  border-radius: 100%;
  padding: 33px 45px;
  background-color: var(--blue);
  color: #fff;
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media (max-width: 1024px) {
  .about__wrapper {
    max-width: 666px;
  }

  .about__title {
    font-size: 32px;
    margin-bottom: 23px;
  }

  .about__us {
    font-size: 20px;
    max-width: 174px;
  }

  .about__us::before {
    width: 40px;
    top: 10px;
  }

  .about__us::after {
    width: 40px;
    bottom: 10px;
  }

  .about__text-main {
    font-size: 16px;
  }

  .about__list {
    max-width: 870px;
  }

  .about__item {
    flex-basis: 180px;
    padding-top: 131px;
  }

  .about__item-text::before {
    padding: 20px 33px;
    background-color: var(--blue);
  }

  .about__img-text {
    font-size: 52px;
  }

  .about__item-text {
    font-size: 18px;
  }
}



@media(max-width: 934px) {
  .about__list {
    max-width: 410px;
  }
}



@media (max-width: 380px) {
  .about {
    padding: 30px 0 60px;
  }

  .about__wrapper {
    max-width: 290px;
  }

  .about__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .about__us {
    font-size: 16px;
    max-width: 134px;
  }

  .about__us::before {
    width: 19px;
    top: 8px;
  }

  .about__us::after {
    width: 19px;
    bottom: 8px;
  }

  .about__text-main {
    font-size: 12px;
  }

  .about__list {
    max-width: 190px;
    gap: 40px;
  }
}