.bottom {
  background-image: url(../img/mans-office.jpg);
  background-position: bottom;
}

.bottom__title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 17px;
}

.bottom__text {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.bottom__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.bottom__input-wrapper {
  margin-bottom: 50px;
}

.bottom__input {
  display: block;
  width: 423px;
  padding: 9px 25px;
  border: 1.38px solid #fff;
  outline: none;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
}

.bottom__input:focus {
  border-color: #15b8dc;
}

.bottom__input:not(:last-child) {
  margin-bottom: 20px;
}

.bottom__text-confirmation {
  font-size: 20px;
  text-align: center;
}

.confirmation {
  color: #4a76a8;
}

.confirmation:hover {
  color: #5c8fc9;
}

@media (max-width: 1024px) {
  .bottom {
    padding: 70px 0 56px;
  }

  .bottom__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .bottom__text {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .bottom__wrapper {
    margin-bottom: 30px;
  }

  .bottom__input {
    width: 379px;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 8px 23px;
  }

  .bottom__text-confirmation {
    font-size: 17px;
  }

  .bottom__button {
    padding: 11px 38px;
  }
}