.footer {
  padding: 45px 0;
  background-color: #2f324b;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  margin-right: 19px;
}

.footer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 141%;
}