.footer {
  padding: 45px 0;
  background-color: #2f324b;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  margin-right: 19px;
}

.footer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 141%;
}

.footer__cite:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.4s;
}

@media (max-width: 1024px) {
  .footer {
    padding: 37px 0;
  }
}

@media (max-width: 660px) {
  .footer {
    padding: 25px 0 0;
    background: linear-gradient(to bottom, #2f324b 105px, #2a2c3f 47px);
  }

  .footer__contacts {
    flex-wrap: wrap;
    gap: 25px;
  }

  .logo-footer {
    margin-right: 19px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__cite {
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 15px 0;
    order: 1;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 25px 0 0;
    background: linear-gradient(to bottom, #2f324b 95px, #2a2c3f 47px);
  }
}

@media (max-width: 465px) {
  .footer__contacts {
    gap: 25px;
  }

  .footer__text {
    font-size: 10px;
  }

  .footer__cite {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .footer {
    padding: 25px 0 0;
    background: linear-gradient(to bottom, #2f324b 80px, #2a2c3f 57px);
  }

  .logo-footer {
    margin-right: 19px;
  }

  .footer__text {
    font-size: 8px;
  }

  .footer__cite {
    font-size: 12px;
  }
}