.footer {
  padding: 45px 0;
  background-color: #2f324b;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  margin-right: 19px;
}

.footer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 141%;
}

.footer__cite:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.4s;
}

@media (max-width: 380px) {
  .footer {
    position: relative;
    padding: 25px 0 72px;
  }

  .footer__contacts {
    flex-wrap: wrap;
  }

  .logo-footer {
    margin-right: 19px;
  }

  .footer__text {
    font-size: 8px;
  }

  .footer__cite {
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 15px 80px;
    background-color: #2a2c3f;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
}