.top {
  padding: 40px 0 120px;
  background-image: url(../img/office.jpg);
}

.top__contacts {
  margin-bottom: 120px;
}

.title {
  font-weight: 900;
  font-size: 52px;
  text-align: center;
  color: rgba(255, 255, 255, 0.86);
  margin-bottom: 35px;
}

.text {
  font-size: 22px;
  line-height: 141%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 88px;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 990px;
}

@media (max-width: 1024px) {
  .top {
    padding: 27px 0 70px;
  }

  .top__contacts {
    margin-bottom: 70px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .text {
    font-size: 18px;
    padding-left: 8.3px;
    margin-bottom: 57.5px;
  }

  .main-wrapper {
    max-width: 780px;
  }
}

@media (max-width: 380px) {
  .top {
    padding: 15px 0 65px;
  }

  .top__contacts {
    margin-bottom: 65px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .text {
    font-size: 14px;
    margin-bottom: 54px;
  }

  .main-wrapper {
    max-width: 290px;
  }
}